<!DOCTYPE html>
<html>
	<head>
		<title>My first flask project</title>
	</head>
	<!-- Latest compiled and minified CSS -->
	<link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
	#banner{
		width:100%;
		height:200px;
	}
		
	</style>
<body>

{% include 'nav.html'%}
		
	<div class="container">
   <h1 class="text-center mt-2 mb-2">This is my first web page</h1>
   <img class="img-fluid" id="banner" src="../static/shanghai.jpg">
	<h2>About me</h2>
	<p>a
asasdfasdfsdfasf
			sdfasdf
		asdfasdf
	</p>
	<h2>Show more information</h2>
	<p>
		{% for job in jobs %}
			{% include 'jobitem.html' %}
		{% endfor %}
	</p>
		<div class="text-center">
		<button class="btn btn-primary btn-lg">Contact Me</button>
			<p class="mt-4">Copyright 2023, Me</p>
			
		</div>
	</div>

	{% include 'footer.html' %}
</body>
</html>